html, body{
    margin: 0;
    padding: 0;
    background: #000
}
.wrapper{
    @media screen and (min-width: 1366px) {
        margin-left: auto;
        margin-right: auto;
        max-width: 1366px;
    }
    
    
}
header{
    .header__container{
        background: url("../../images/bg-img.png") no-repeat;
        background-size: cover;
        width: 100%;
        height: auto;
        padding: 50px 0 60px;


    }
    
    nav{
       
        .top-nav__container{
            width: 70%;
            height: 30px;
            margin: auto;
            background: url("../../images/logo.svg") no-repeat;
            background-position: 10px auto;
            @media only screen and (max-width : 1024px){
                width: 90%;
            }
            @media only screen and (max-width : 800px){
                display: flex;
                justify-content: flex-end;
                flex-direction: column-reverse;
            }
            
            .top-nav-menu{
                display: flex;
                flex-direction: row;
                justify-content: flex-end;
                padding-top: 5px;

                @media only screen and (max-width : 800px)  {
                    flex-direction: column;
                    padding-top: 20px;
                    padding-right: 50px;
                }
                
                .top-nav-menu__item{
                    list-style-type: none;
                    margin-left: 42px;

                    @media only screen and (max-width : 800px){
                        margin-left: 0;
                        margin-bottom: 20px;
                        text-align: center;
                        height: 0;
                        overflow: hidden;
                        transition: 1s;

                        &.active-menu{
                            height: 20px;
                            font-size: 22px;
                            transition: 1s;
                        }
                    }

                    &:first-child{
                        margin-left: 0;
                    }
    
                    a{
                        text-decoration: none;
                        color: #fff;
                        font-size: 19px;
                        font-family: Arial;
                        font-weight: normal;
                        font-stretch: normal;
                        font-style: normal;
                        line-height: normal;
                        letter-spacing: normal;
    
                        &:hover{
                            cursor: pointer;
                            opacity: .6;
                            transition: .5s;
                        }
                    }
                }
            }

            .burger-btn_wrapper {
                width: 40px;
                height: 40px;
                margin-left: auto;
                margin-right: 50px;
                position: relative;
                top: 10%;
                border: none;
                display: none;

                @media only screen and (max-width : 800px) {
                    display: block;
                }
              }
              @mixin psevdo_burger {
                content: "";
                background-color: #fff;
                position: absolute;
                width: 100%;
                height: 2px;
                left: 0;
                transition: all 0.3s ease 0s;
              }
              .burger-btn {
                position: relative;
                width: 30px;
                height: 20px;

                &::before{
                    @include psevdo_burger;
                    top: 2px;
                }

                &::after{
                    @include psevdo_burger;
                    bottom: 0px;
                }

                &:hover{
                    cursor: pointer;
                    opacity: 0.7;
                    transition: 0.7s;
                }

                span{
                    position: absolute;
                    left: 0;
                    width: 100%;
                    background-color: #fff;
                    height: 2px;
                    top: 10px;
                    transition: all 0.3s ease 0s;
                }

                &.active{
                    span{
                        transform: scale(0);
                    }
                }

                &.active{
                    &::before{
                        transform: rotate(45deg);
                        top: 9px;
                    }
                    &::after{
                        transform: rotate(-45deg);
                         bottom: 9px;
                    }
                }
              }
        } 
    }

    .welcome-block{
        color: #fff;
        font-family: Arial;
        font-stretch: normal;
        font-style: normal;
        line-height: normal;
        letter-spacing: normal;
        text-align: center;
        padding-top: 160px;

        h1{
            font-size: 53px;
            font-weight: normal;

            span{
                font-weight: bold;
            }
        }
        h2{
            font-size: 19px;
            font-weight: normal;
        }
        a{
            font-size: 19px;
            text-decoration: none;
            color: #fff;
            display: block;
            width: 200px;
            height: 50px;
            line-height: 50px;
            background-color: #0dcaff;
            border-radius: 2px;
            margin: 30px auto;

            &:hover{
                cursor: pointer;
                opacity: .9;
            }
        }
    }

    .about_skills{
        margin-top: 150px;

        .skills-list{
            display: flex;
            flex-direction: row;
            margin: 0 150px 0 auto;
            justify-content: flex-end;

            @media only screen and (max-width : 1280px) {
                margin: 0 50px 0 auto;
            }
            @media only screen and (max-width : 1024px) {
                margin: 0 auto;
                justify-content: center;
                padding: 0;
            }
            @media only screen and (max-width : 768px) {
                flex-direction: column;
                justify-content: center;
            }

            .skills-list__item{
                color: #fff;
                font-family: Arial;
                list-style-type: none;
                width: 225px;
                height: 225px;
                margin-left: 15px;
                border-radius: 11px;
                background-image: linear-gradient(to top, #191a1c, #09090a);

                @media only screen and (max-width : 768px){
                    margin: 15px auto;
                    width: 70%;
                    display: flex;
                }

                @keyframes skill_score {
                    from {width: 60px}
                    to {width: 160px;}
                }
    
                &:hover{
                    .skill_title{
                        &::after{
                            content: "";
                            border-bottom: #0dcaff 1px solid;
                            position: absolute;
                            bottom: 0;
                            left: 35px;
                            animation: skill_score 1s 1 ease-in;
                            animation-fill-mode: forwards;
                        }
                    }
                }

                .skill_title{
                    display: flex;
                    justify-content: center;
                    height: 80px;
                    line-height: 80px;
                    position: relative;
                    padding-left: 35px;
                    
                    span{
                        font-weight: bold;
                        font-size: 18px;
                    }

                    ::after{
                        content: "";
                        width: 60px;
                        border-bottom: #0dcaff 1px solid;
                        position: absolute;
                        bottom: 0;
                        left: 35px;
                    }

                    @media only screen and (max-width : 768px){
                        ::after{
                            display: none;
                        }
                        line-height: 20px;
                        padding-top: 40%;
                    }
                }
                .skill_decription{
                    p{
                        padding-left: 35px;
                        font-size: 14px;
                    }
                }
            }
        }
    }
}
